h1, h2, h3 {
	color: white;

}
h4, p {
	color: white;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #938581;
	opacity: 90%;
}
.navbar-custom {
	background-color: #938581;
	
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: rgba(255,255,255,.8);
	font-size: 4vw;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: rgba(255,255,255,.5);
	font-size: 20px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.upper-div {
	background-color: #938581;
}
.middle-div {
	background-color: #466362;
	opacity: 90%;
	padding: 100px;
}

.final-div {
	background-color: #8896AB;
	padding: 200px;
	opacity: 90%;
}

.footer-div {
	margin-top: 100px;
	background-color: #938581;
}

#my-image {
	width: 30%;
	height: 100%;
	margin-right: 130px;
	padding-top: 40px;
}
#name-heading {
	font-size: 8vw;
	margin-left: 15%;
	margin-top: 14%;
	font-family: 'Dancing Script', cursive;
	opacity: 80%;
}

#footer-text {
	color: white;
	font-size: 1.5vw;
}


.btn-default {
	background-color: #466362;
	color:#FFF;
	border-color: #466362;
	opacity: 80%;
	font-family: 'Montserrat', sans-serif;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
background-color: #E66B61;
color:#FFF;
border-color: #E66B61;
}