h1, h2, h3 {
	color: white;

}
h4, p {
	color: white;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #938581;
	opacity: 90%;
}
.navbar-custom {
	background-color: #938581;
	
}
.page-heading {
	font-family: 'Montserrat', sans-serif;
	opacity: 80%;
	font-size: 5vw;
	padding-top: 40px;
	padding-bottom: 40px;
}
.portfolio-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.0vw;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: rgba(255,255,255,.8);
	font-size: 4vw;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: rgba(255,255,255,.5);
	font-size: 20px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.upper-div {
	background-color: #938581;
}
.green-div {
	background-color: #466362;
	padding: 0px 30px 50px 30px;

}

.blue-div {
	background-color: #8896AB;
	padding: 100px;
	opacity: 90%;
}

.footer-div a {
	color: white;
	font-size: 2.5vw;
}
.footer-div a:hover {
	color: #E66B61;
	font-size: 2.5vw;
}
.footer-div {
	background-color: #938581;
	padding-top: 20px;
}

.social-icon {
	margin: 0vw 1vw 0vw 1vw;
}
.green-wave {
	stroke: none;
	fill: #466362;
}
.blue-wave {
	stroke: none;
	fill: #8896AB;
	opacity: 90%;
}
@media (max-width: 990px) {
	img#my-image {
		display: none;
	}
}
@media (max-width: 990px) {
	h3#name-heading {
		margin: auto;
		padding: 50px;
	}
}
#my-image {
	width: 30%;
	height: 100%;
	margin-right: 100px;
	padding-top: 40px;
	margin-bottom: -60px;
}
#name-heading {
	font-size: 6.5vw;
	margin-left: 15%;
	margin-top: 14%;
	font-family: 'Montserrat', sans-serif;
	opacity: 80%;
}

#footer-text {
	color: white;
	font-size: 1.5vw;
}

.btn-default {
	background-color: #466362;
	color:#FFF;
	border-color: #466362;
	opacity: 80%;
	font-family: 'Montserrat', sans-serif;
	margin: 2px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
background-color: #E66B61;
color:#FFF;
border-color: #E66B61;
}

.btn-custom {
	background-color: #E66B61;
	color: #FFF;
	border-color: #E66B61;
	opacity: 80%;
	margin: 2px;
	font-family: 'Montserrat', sans-serif;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .open .dropdown-toggle.btn-custom {
	background-color: #FFF;
	color:black;
	border-color: #FFF;
	}
.tech-tag {
	background-color: #E66B61;
	color: #fff;
	border-color: #E66B61;
	margin: 2px;
	opacity: 80%;
	font-family: 'Montserrat', sans-serif;
}
.tech-tag-two {
	background-color: #8896AB;
	color: #fff;
	border-color: #8896AB;
	margin: 2px;
	opacity: 90%;
	font-family: 'Montserrat', sans-serif;
}
.code-card {
	width: 18rem;
	background-color: #938581;
	opacity: 90%;
	border-color: #466362;
}
.other-card {
	width: 18rem;
	background-color: #466362;
	opacity: 90%;
	border-color: #466362;
	padding: 0% 4% 0%;
}
.card-title-custom {
	color: #fff;
	font-size: 2vw;
	font-family: 'Montserrat', sans-serif;
}
.card-title-code {
	color: #fff;
	font-size: 2vw;
	font-family: 'Montserrat', sans-serif;
}

.big-icon {
	font-size: 4vw;
	color: #fff;
}
.big-icon:hover {
	color: #E66B61;
}
.responsive-text {
	font-size: 20px;
}
@media (max-width: 990px) {
	.responsive-text {
		font-size: 16px;
	}
}
@media (max-width: 990px) {
	.card-title-code {
		font-size: 20px;
	}
	.card-title-custom {
		font-size: 20px;
	}
}
@media (min-width: 1100px) {
	.card-group-custom {
		padding: 0px 150px 0px;
	}
	.card-columns-custom {
		padding: 0px 150px 100px;
	}
}@media (max-width: 990px) {
	.mobile-menu {
		justify-content: center !important;
	}
}